<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meaw</title>
</head>
<body bgcolor="skyblue">
 <center>
    <table  border="0" width="400px" >
        <form name="signup" form method="post" action="{{ url_for('regis') }}">
                <tr>
                    <td colspan="2" align="center"> <h1>Sign Up</h1> </td>
                </tr>
            {{ form.csrf_token }}
                <tr>
                    <td> <h4>Name     : </h4> </td>
                    <td> {{ form.Firstname }} </td>
                </tr>
                <tr>
                    <td> <h4>Lastname  : </h4> </td>
                    <td> {{ form.Lastname }} </td>
                </tr>
                <tr>
                    <td> <h4>Email    : </h4> </td>
                    <td> {{ form.Email }} </td>
                </tr>
            {% for error in form.Email.errors %}
                <tr>
                    <td colspan="2" align="center">
                        <li style="color:red">{{ error }}</li>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td> <h4>Username : </h4> </td>
                    <td> {{ form.Username }} </td>
                </tr>
                <tr>
                    <td> <h4>Password : </h4> </td>
                    <td> {{ form.Password }} </td>
                </tr>
            {% for error in form.Password.errors %}
                <tr>
                    <td colspan="2" align="center">
                        <li style="color:red">{{ error }}</li>
                    </td>
                </tr>
            {% endfor %}
                <tr> <td colspan="2" align="center"> <input type="submit" name="submit" size="40" value="Sign Up"> </td> </tr>

        </form>
    </table>
</center>
</body>
</html>